/* configuración general */

*{
    box-sizing:  border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color:black;
    background-color: #97709c;
}
/* encabezado */
header{
    text-align: center;
    padding: 50px 20px;
    background-color: rgb(224, 117, 210);
    color:  ghostwhite;

    
}

header{
    margin: 0;
    font-size: 42px;
}

header p{
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
}
/*   navegacion */

  nav{
    display: flex;
    justify-content: center;
    gap:25px;
    padding:20px;
    background-color: rgb(139, 116, 161);
    border-bottom: 1px solid #61166b ;
  }
  nav a{
    color:antiquewhite;
    text-decoration: none;
    font-weight: bold;

  }

  nav a:hover{
    text-decoration: underline;
  }

/* Main*/
main{
    max-width: 3000px;
    margin: auto;
    background-color: #b2afb6;
}

/* secciones */
section{
    padding: 60px 40px;
    border-bottom: 1px solid #5c2266;
}

section h2{
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}

/* seccion de inicio */
.seccion-inicio{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.seccion-contenido{
    max-width: 700px;

}

.seccion-contenido h2{
    font-size: 42px;
    margin-bottom: 15px;
}

.seccion-contenido p{
    font-size: 20px;
    margin-bottom: 30px;
}

/* boton */
.boton,button{
    display: inline-block;
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    background-color: #85156e;
    color: black;
    text-decoration: none;
    font-size: 16px;
    cursor:pointer;

}

.boton:hover,button:hover{
    background-color: rgb(173, 66, 125);
    color: black;

}
/* seccion sobre mi  */
.sobre-mi-contenido{
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 800px;
    margin: o auto;

}
.sobre-mi-contenido img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.sobre-mi-contenido p{
    font-size: 18px;

}

/* habilidades */
.lista-habilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    list-style: none;
}
.lista-habilidades li{
    padding: 20px 25px;
    background-color: rgb(95, 19, 79);
    border-radius: 10px;
    font-weight: bold;

}
/* seccion proyectos */
.contenedor-proyectos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.proyecto{
    flex: 1;
    min-width: 250px;
    padding: 25px;
    border: 1px solid #5c2266;
    border-radius: 8px;
    background-color: fuchsia;
}

.proyecto h3{
    margin-top: 0;
    font-size: 22px;

}

.proyecto a{
    color: darkviolet;
    font-weight: bold;
}

/* formulario */
forn{
    max-width: 600px;
    margin: 0 auto;
}

.campo{
    margin-bottom: 20px;

}

.campo label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input,
.campo textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #124427;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
}

.campo textarea{
    resize: vertical;

}

forn button{
    width: 100%;
}


/* pie de pagina */
footer{
    padding: 30px 20px;
    text-align: center;
    background-color: rgb(223, 167, 228);
    color: rgb(127, 0, 139);

}

footer p{
     margin: auto5px;

}

/* diseño responsive */
 @media (max-width: 60px){
     header h1{
        font-size: 32px;
     }

     nav{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    
     }

     section{
        padding: 40px 20px;
     }
     .inicio-contenido h2{
        font-size: 32px;
     }

     .sobre-mi-contenido{
        flex-direction: column;
        text-align: center;

     }

     .contenedor-proyectos{
        flex-direction: column;

     }
 }